<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
      PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
<mapper namespace="AdminDAO">
	<select id="userListAll" resultType="user">
		<![CDATA[
			SELECT * 
			FROM member 
			WHERE 1=1 
			ORDER BY j_time
		]]>
	</select>
	
</mapper>